body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.header1{
    height: 100px;
    width: 100%;
    background-color: #000066;
}
.header2{
height: 20px;
background-color: #88AACC;
display: flex;
justify-content: flex-start;
}
.header2 a{
    color: white;
}
main{
    display: flex;

}
.formularioProducto{
    width:300px;
    height: 380px;
    background-color:  #EFEEFD;
}
.listaProductos{
    width: 450px;
    height: 380px;
    background-color: #EFEFFF;
}
footer{
    height: 100px;
    background-color: black;

}
.estado{
    display: flex;
}
form{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}
.listaProductos td{
    background-color: #000066;
    color: white;
}